* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-height: 90vh;
  max-width: 60vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 2rem;
}

.wrapper p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.wrapper h1 {
  margin-bottom: 2rem;
}